<p><%=link_to "index", root_path%></p>
<p><%=link_to "say", welcome_say_hello_path%></p>
<p><%=link_to "fuck", welcome_fuck_path%></p>

<p><%= link_to 'Event Index', :controller => 'events', :action => 'index' %></p>
